$color-azul: #083B86;
$color-verde: #6AB528;
$titulo-pequeño: 'Josefin Sans', sans-serif;
$titulo-grande: 'Ubuntu', sans-serif;

@mixin orden($display, $direction, $wrap, $justify){
    display: $display;
    flex-direction: $direction;    
    flex-wrap: $wrap;
    justify-content: $justify;
}

.contactos{
    margin:auto;
    width: 90%;
    font-family: $titulo-pequeño;
    color: $color-azul;
    .CA{
        .CA1{
            margin-top: 40px;
            h1{
            padding-bottom: 15px;
            font-family: $titulo-grande;
            text-align: center;
            }
            p{
            text-align: center;
            }
        }
        .map{
            @include orden(flex, row, wrap, center);
            iframe{
                iframe:hover{
                    transform:scale(1.1, 1.1);
                }
            }
        }
    }
    .CD{
        @include orden(flex, column, nowrap, center);
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
        form{
            width: 400px;
            border: 2px solid $color-azul;
            border-radius: 2%;
            padding: 10px;
            h2{
                font-family: $titulo-grande;
                text-align: center;
                margin-bottom: 20px;
            }
            input, textarea{
                width: 100%;
                padding: 10px;
                border: 1px solid $color-azul;
                border-radius: 4px;
                margin-bottom: 5px;
                font-family: $titulo-pequeño;
                color: $color-azul;
            }
            .boton{
                background-color: $color-verde;
                border: none;
                padding: 10px;
                color: white;
                width: 45%;
                margin-left: auto;
                margin-right: auto;
                .boton:hover{
                    background-color: $color-azul;
                    color: white;
                }
            }
        }
        div{
            width: 400px;
            @include orden(flex, row, wrap, center);
            padding-top: 25px;
            img{
                margin: 5px;
            }
        }
    }
}
