$color-azul: #083B86;
$color-verde: #6AB528;
$titulo-grande: 'Ubuntu', sans-serif;

@mixin img($backgroundr, $backgrounds){
    background-repeat: $backgroundr;
    background-size: $backgrounds;
}
@mixin h2($font, $color, $aling, $left, $rigth){
    font-family: $font;
    color: $color;
    align-self: $aling;
    padding-left: $left;
    padding-right: $rigth;
}

.Estudiantes {
    .EA{
        @include img(no-repeat, cover); 
        a{
            text-decoration: none;
            .EAint{
                width: 100%;
                height: 100vh;
                display: flex;
                justify-items: flex-end;
                .EAint:hover{
                    border: $color-verde 10px solid;
                }
            }
        } 
        h2{
            @include h2($titulo-grande, white, center, 5%, 5%)
        }
    }
    .EB{
        @extend .EA;
        a{
            text-decoration: none;
            .EBint{
                @extend .EAint;
                .EBint:hover{
                    border: $color-azul 10px solid;
                } 
            }
        }
        .EB h2{
            @include h2($titulo-grande, white, center, 5%, 5%)
        }
    }
}






