@mixin img($area, $background, $backgroundr, $backgrounds){
    grid-area: $area;
    background-image: $background;
    background-repeat: $backgroundr;
    background-size: $backgrounds;
}


.Estudiantes{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100vh;
    grid-template-areas: 
    "EA EB";
    font-size: 2.5rem;
}
.Estudiantes .EA{
    @include img(EA, url("./imag/IngV.jpg"), no-repeat, cover);  
}
.Estudiantes .EB{
    @include img(EB, url("./imag/IngP.png"), no-repeat, cover);  
}

.Estudiantes .EA .EAint, .EBint{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-items: flex-end;
}
.Estudiantes .EA a, .EB a{
    text-decoration: none;
}
.Estudiantes .EA .EAint:hover{
    border: #6AB528 10px solid;
}
.Estudiantes .EBint:hover{
    border: #083B86 10px solid;
}
.Estudiantes .EA h2, .EB h2{
    font-family: 'Ubuntu', sans-serif;
    color: white;
    align-self: center;
    padding-left: 5%;
    padding-right: 5%;
}