$color-azul: #083B86;
$color-verde: #6AB528;
$titulo-grande: 'Josefin Sans', sans-serif;
$titulo-pequeño: 'Ubuntu', sans-serif;

.Matriculas{
    font-family: $titulo-grande;
    color: $color-azul;
    .primer{
        .MA{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            margin-top: 60px;
            margin-left: 8%;
            margin-bottom: 15px;
            h1{
                text-align: center;
                font-family: $titulo-pequeño;
            }
        }
        .MB{
            display: grid;
            grid-template-columns: 1 fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-areas: 
            "Ml1 Ml2"
            "Ml3 Ml4"
            "Ml5 Ml6";
            align-items: center;
            width: 80%;
            margin: auto;
            .Ml1{
                grid-area: Ml1;
            }
            .Ml2{
                grid-area: Ml2;
                list-style: none;
            }
            .Ml3{
                grid-area: Ml3;
            }
            .Ml4{
                grid-area: Ml4;
                list-style: none;
            }
            .Ml5{
                grid-area: Ml5;
            }
            .Ml6{
                grid-area: Ml6;
                list-style: none;
            }
            .Ml1, .Ml3, .Ml5{
                list-style: none;
                font-size: 1.8rem;
                text-align: center;
                border: $color-azul solid 2px;
                border-radius: 100%;
                padding: 5px 12px 5px 12px;
                background-color: $color-verde;
                box-shadow: 3px 3px 10px #5c5d5e;
            }
        }
        .MC{
            text-align: center;
        }
    }
    .segundo{
        .MDext{
            padding-top: 20px;
            padding-bottom: 20px;
            .MD{
                .MDA{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    align-items: center;
                    padding: 20px;
                    h2, h4{ 
                        color: $color-azul;
                    }
                    i{
                        font-size: 1.8rem;
                        text-align: center;
                        border: $color-azul solid 2px;
                        border-radius: 100%;
                        padding: 5px 12px 5px 12px;
                        background-color: $color-verde;
                        box-shadow: 3px 3px 10px #4b4d4e;
                        margin-right: 15px;
                        margin-left: 5px;
                    }
                }
                .form{
                    background-color: #070d16;
                    margin: auto;
                    width: 85%;
                    border-radius: 10px;
                    padding: 15px;
                    color: white;
                    box-shadow: 7px 7px 10px #c8d2e1;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: nowrap;
                    p{
                        font-size: 1rem;
                    }
                }
            }
        }
    }    
}






