@mixin size($font, $aling, $color){
    font-family: $font;
    text-align: $aling;
    color: $color;
}

.Programas{
    padding-bottom: 25px;
    h1, h2{
        @include size('Ubuntu', center, #083B86); 
    }
}