@mixin stileTDTC($width, $display, $direction, $wrap, $fuente, $color, $margen){
    width: $width;
    display: $display;
    flex-direction: $direction;
    flex-wrap: $wrap;
    font-family: $fuente;
    color: $color;
    margin: $margen;
}
.TDTC{
    @include stileTDTC(90%, flex, column, wrap, sans-serif, #083B86,auto);  
    h2{
        text-align: center;
        font-family: 'Ubuntu', sans-serif;
        padding: 20px;
        margin-top: 40px;
    }
    p{
        padding-bottom: 40px;
    }
}

