.TDTC{
    width: 90%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: 'Josefin Sans', sans-serif;
    color: #083B86;
    margin: auto;
}
.TDTC h2{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    padding: 20px;
    margin-top: 40px;
}
.TDTC p{
    padding-bottom: 40px;
}
