$color-azul: #083B86;
$color-verde: #6AB528;
$color-footer:  #070d16; 

@mixin stilefotter($background, $width, $color,  $aling, $tam){
    background-color: $background;
    width: $width;
    color: $color;
    align-items: $aling;
    font-size: $tam;
}
footer{
    @include stilefotter($color-footer, 100%, white, center, 0.8rem);  

    .row{
        padding: 15px;
        .footer1{
            margin: auto;
        }
        .footer2{
            align-self: center;
            .footerboton{
                background-color: $color-verde;
                &:hover{
                    background-color: $color-azul;
                    color: white;
                }
            }
        }
        h4{
            color: $color-verde;
        }
    }
    .wpp{
        position:fixed;
        bottom:20px;
        right:20px;
    }
}