*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box; 
}

$titulo-grande: 'Josefin Sans', sans-serif;
$letras-normales: 1.2rem;

@mixin fuente($background, $fuente, $tamaño){
    background-color: $background;
    font-family: $fuente;
    font-size: $tamaño;
}
body{
    @include fuente(white, $titulo-grande, $letras-normales)
}
@import ".Index";
@import "footer";
@import ".Programas";
@import ".Matriculas";
@import ".Estudiantes";
@import ".contactos";
@import ".TDTC";